push:

branches:

main

jobs:

deploy:

runs-on: ubuntu-latest

steps:

name: Checkout Repository

uses: actions/checkout@v4

name: Sync Files to S3

uses: jakejarvis/s3-sync-action@master

with:

args: --acl public-read --follow-symlinks --delete

env:

AWS_S3_BUCKET: ${{ secrets.AWS S3_BUCKET }}

AWS ACCESS_KEY_ID: ${{ secrets. AWS ACCESS_KEY_ID }}

AWS SECRET_ACCESS KEY: ${{ secrets.AWS SECRET ACCESS_KEY }}

AWS_REGION: ${{ secrets.AWS_REGION }}

SOURCE DIR: 'second' # Change if your files are in a different directory
